[submodule "Week8_Git/01_Git-HOL/gitdemo"]
	path = Week8_Git/01_Git-HOL/gitdemo
	url = https://gitlab.com/nameissakthi/gitdemo.git
[submodule "Week8_Git/01_Git-HOL/Code/gitdemo"]
	path = Week8_Git/01_Git-HOL/Code/gitdemo
	url = https://gitlab.com/nameissakthi/gitdemo.git
